.projects {
    background-color: $color-white;
    height: 80vh;
    margin-top: 40rem;

    &__title {
        font-size: 3rem;
        text-align: center;
        color: $color-icons;
    }
    &__content{
        width: 90vw;
        margin: 6rem auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .card{
            width: 29vw;
            height: 40vh;
            box-shadow: 0 18px 26px 0 rgba(0,0,0,0.2);
            cursor: pointer;
            margin-bottom: 3rem;
            
            &__image{
                width: 100%;
                height: 40vh;
            }
            &__content{
                text-align: center;
                word-spacing: 0.3rem;
                padding: 1rem;
                margin-top: -40%;
                z-index: 5;
                display: none;
            }
            &__title{
                font-weight: bold;
            }
        }
    }
}
@media screen and (max-width: 900px) {
    .projects{
        margin-top: 45rem;
        margin-top: 80vh;

        &__content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .card{
                width: 80vw;
                height: 60vh;

                &__image{
                    width: 100%;
                    height: 60vh;
                }
            }
        }
    }
}
@media screen and (max-width: 750px) {
    .projects{
        margin-top: 110vh;
    }
}
// @media screen and (max-width: 630px) {
//     .projects{
//         margin-top: 95rem;
//     }
// }
// @media screen and (max-width: 550px) {
//     .projects{
//         margin-top: 125vh;
//     }
// }
// @media screen and (max-width: 400px) {
//     .projects{
//         margin-top: 80rem;
//     }
// }
// @media screen and (max-width: 300px) {
//     .projects{
//         margin-top: 130rem;
//     }
// }