@mixin button ($color-background, $color-text,$text-size,$border-radius-size) {
    padding: 2%;
    border: none;
    background-color: $color-background !important;
    color: $color-text !important;
    font-size: $text-size !important;
    border-radius: $border-radius-size !important;
}
@mixin  texts ($color,$texts-size,$font-family) {
    color: $color;
    font-size: $texts-size !important;
    font-family: $font-family;
}
@mixin flex($display,$direction,$wrap,$justify-content) {
    display: $display;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify-content;
}
@mixin font-size($size) {
    font-size: $size;
}
@mixin background($height){
    background-image: linear-gradient(to right bottom, $color-background-transparent, $color-background), url("../../img/headerimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: $height;
}