@mixin button ($color-background, $color-text,$text-size,$border-radius-size) {
    padding: 2%;
    border: none;
    background-color: $color-background !important;
    color: $color-text !important;
    font-size: $text-size !important;
    border-radius: $border-radius-size !important;
    margin: 0 auto;
}
@mixin btn($btn-color-background,$btn-color-text) {
    border: 2px solid $color-icons;
    background-color: $btn-color-background;
    color: $btn-color-text;
    padding: 0.6%;
    font-weight: bold;
    font-size: 1.6rem;
    text-decoration: none;
    font-family: $text-menu;
    border-radius: 10px;
    display: block;
    text-align: center;
    width: 20%;
    margin: 0 auto;
}
@mixin btn-hover($btn-color-background,$btn-color-text) {
    background-color: $btn-color-background;
    color: $btn-color-text;
}
@mixin  texts ($color,$texts-size,$font-family) {
    color: $color;
    font-size: $texts-size !important;
    font-family: $font-family;
}
@mixin flex($display,$direction,$wrap,$justify-content) {
    display: $display;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify-content;
}
@mixin font-size($size) {
    font-size: $size;
}
@mixin background($background-right,$background-bottom,$height){
    background-image: linear-gradient(to right bottom, $background-right, $background-bottom), url("../../img/headerimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: $height;
}