$color-background: #333333;
$color-background-transparent: #33333380;
$color-hover:#56c7d1;
$color-icons: #0a7680;
$color-background-blue:#56c7d1bb;
$color-white: white;
$color-white-transparent: rgba(255, 255, 255, 0.5);
$border-size: 2px;
$text-menu: Lato;
$text-name: Ubuntu;