.button--blue{
    @include button($color-icons, $color-white, 1.6rem,1.6rem)
}
.btn{
    &--white{
        @include btn($color-white,$color-icons);

        &:hover{
            @include btn-hover($color-icons, $color-white);
        }
        @media screen and (max-width: 900px) {
            width: 50vw;
        }
    }
    &--blue{
        @include btn($color-icons,$color-white);
    }
    &--left{
        padding: 0.7rem;
        width: 50%;
        margin: 1rem 0 0 -0.2rem;

        &:hover{
            @include btn-hover($color-white, $color-icons);
        }
    }
    &--header{
        width: 15rem;
        padding: 1rem;
        margin: 4rem auto;

        &:hover{
            @include btn-hover($color-btn-transparent,$color-icons)
        }
    }
}