.footer{
    background-color: $color-background;
    height: 10vh;
    color: $color-white;
    font-family: $text-menu;
    text-align: center;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}