.header {
    @include background(90vh);
    display: flex;
    align-items: center;

    &__content {
        text-align: center;
        position: relative;
        margin: 0 auto;
        width: 60vw;
        padding: 2%;
        margin-bottom: 4%;
    }
    &__title {
        color: $color-hover;
        font-family: $text-menu;
        font-weight: 700;
        font-size: 4rem;
    }
    &__description {
        @include texts($color-white,1.6rem,$text-menu);
    }

    @media screen and (max-width: 700px) {
        & {
            height: 90vh;
            background-position: center;

            &__content {
                width: 80vw;
            }
        }
    }
}