.menu {
    text-align: right;
    background-color: $color-background-menu;
    padding: 2rem;
    z-index: 4;
    position: fixed;
    width: 100vw;

    &__item {
        text-decoration: none;
        color: $color-white;
        font-size: 1.6rem;
        padding: 1rem 3rem 2rem 0;
        font-weight: bold;
        font-family: $text-menu;
    }

    & .icon {
        display: none;
    }

    @media screen and (max-width: 630px) {
        text-align: center;
        &__items {
            display: none;
            position: absolute;
            padding-top: 2%;
            margin: 2rem 0 0 -2rem;
            width: 100vw;
            z-index: 1;
            background-color: $color-background-menu;
            padding-left: 3rem;


            &.show{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 60;
                text-align: center;
            }
        }

        & .icon {
            display: block;
            width: 7rem;
            font-size: 2rem;
            color: $color-white;
            border: $border-size solid $color-white;
            padding: 0.5rem 1rem 0.5rem 1rem;
            margin: 0 auto;

            &:hover {
                color: $color-background;
                border: $border-size solid $color-background;
                background-color: $color-white;
            }
        }
    }
}